.gameDetail-s1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -50px;
}
.gameDetail-s1-left , .gameDetail-s1-right{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.gameDetail-s1-right{display: none}
.gameDetail-s1-box{
    width: 100%;
    display: flex;
}
.gameDetail-s1-left .gameDetail-s1-item:nth-child(1){
    position: relative;
    top: -60px;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 24px;
    background: #1B1C1D;
}
.gameDetail-s1-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.gameDetail-s1-line{
    width: 1px;
    height: 50px;
    border-radius: 12px;
    background: #C4C4C4;
}
.gameDetail-s1-item {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.gameDetail-s1-item-text{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gameDetail-s1-item-text h1 , p{
    margin: 0;
}

.gameDetail-s2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.gameDetail-s2-left .about-s1-box{
    width: 80%;
    height: 100%;
}
.gameDetail-s2-left , .gameDetail-s2-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameDetail-s2-right{
    width: 40%;
}
.gameDetail-s2-right img{
    width: 100%;
    height: 100%;
}
.gameDetail-s2{
    margin-top: 30px;
}
.gameDetail-s2-right-img2{
    display: none;
}
.carousel-indicators{
    display: none !important;
}
.gameDetail-s3 img{
    width: 100%;
    height: 100%;
}
.splide__arrows{
    position: absolute;
    right: 100px;
    top: -28px;
}
.splide__arrow{
    left: 50px;
    border-radius: 6px !important;
    background: #1B1C1D !important;
    opacity: 1;
}
.splide__arrow svg{
    fill: #fff !important;
}
.gameDetail-s4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 60px;
}
.gameDetail-s4-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.gameDetail-s4-img-box{
    margin-top: 40px;
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.gameDetail-s4-img-box img:nth-child(1){
    margin-right:  10px;
}
@media screen and (max-width: 800px) {
    .gameDetail-s4-img-box{
        width: 100%;
    }
    .gameDetail-s4-box{
        width: 100%;
    }
    .gameDetail-s2-right-img2{
        display: flex;
    }
    .gameDetail-s1-left .gameDetail-s1-item:nth-child(1),.gameDetail-s2-right-img{
        display: none;
    }
    .gameDetail-s1{position: static}
    .gameDetail-s1-left , .gameDetail-s1-right{
        width: 50%;
        display: flex;
        position: static;
        justify-content: center;
        flex-direction: column;
        align-items: baseline;
    }
    .gameDetail-s1-none{
        display: none;
    }
    .gameDetail-s1-item-text{
        align-items: flex-start;
        font-size: 14px;
    }
    .gameDetail-s1-line{
        display: none;
    }
    .gameDetail-s2{
        flex-direction: column;
        height: auto;
        margin-bottom: 80px;
    }
    .gameDetail-s2-right{
        /*display: none;*/
        width: 100%;
    }
    .gameDetail-s2-left{
        width: 100%;
    }
    .gameDetail-s2-left .about-s1-box{
        width: 100%;
    }
}